* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#main {
}



img {
    max-width: 45%;
    border: 0;
    vertical-align: middle;
}


.login {
    height: 100vh;
    background-image: url("D:/Dowloads/FE_DACN-Copy/FE_DACN - Copy/assets/img/gd.jpg");
    position: relative;
    background-size: cover;
}

.header-login-right-hotline i {
    color: #90ff01;
    font-size: 20px;
}

.header-login-right-hotline span {
    color: #20BE07;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header-login-right-hotline a {
    color: #20BE07;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header-login-right {
    display: flex;
    align-items: center;
}

.header-login .header-login-container-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#language-active.vi::before {
    content: '';
    background-image: url("D:/Dowloads/FE_DACN-Copy/FE_DACN - Copy/assets/img/iconvn.jpg");
    width: 24px;
    height: 18px;
    display: inline-block;
    margin-right: 7px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2px;
}

.page-login .language .language-container > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: red;
}

.login-content {
    position: absolute;
    width: 37.8%;
    right: 13.4%;
    top: 14%;
}

.login-content-title {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    justify-content: center;
}

.login-content-title-left p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: right;
    margin-bottom: 0px;
}


.login-content-title-left {
    margin-right: 22px;
    position: relative;
}

/*/*/
    .login-content-title-left:before {
        content: "";
        position: absolute;
        background: white;
        height: 33px;
        width: 1px;
        right: -17px;
        top: 3px;
        transform: rotate(17deg);
    }


.login-content-title-right span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.login-content-form {
    background: rgba(0, 0, 0, 0.4);
    padding: 42px 62px 40px 65px;
    border-radius: 4px;
}

#user-pass .form-item-name {
    color: white;
}

/*button*/
.form-wrapper.form-group > button.form-submit {
    background: #20BE07;
    color: white;
    font-family: UTM_AVO;
    font-weight: bold;
    padding: 10px 65px;
    display: flex;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group:last-child, .panel:last-child {
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

#edit-submit {
    color: #fff;
    background: #20BE07;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-family: Arial;
    width: 251px;
    height: 45px;
    margin-top: 6px;
    font-weight: bold;
}

#edit-actions.form-actions.form-wrapper.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}