

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    box-sizing: border-box;
}

#main {
}


#header {
    height: 62.4px;
}

/* --------------------------*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.col-md-3 {
    width: 25%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.article-type-5-container .article-title a {
    font-family: "UTM_AVO";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
    padding: 10px 0px;
    width: 70%;
}
.home-node-add {
    text-align: right;
}.home-node-add a {
    color: #333333;
}
.home-badminton-yard-item-group {
    border: 1px solid #ccc;
    border-radius: 0px 0px 6px 6px;
    padding: 14px 15px 27px 15px;
    width: 64%;
}
.fa-angle-double-right:before {
    content: "\f101";
    color: #20BE07;
}
.home-badminton-yard-item-link a::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    background: #20BE07;
    bottom: -3px;
    left: 0px;
}
.home-badminton-yard-item-link a {
    color: #20BE07;
    position: relative;
}
/* --------------------------*/


/*header*/
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
#nav  li  a {
    display: block;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
}

#language-active.vi::before {
    content: '';
    background-image: url(../img/iconvn.jpg);
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
}

#header{
    top: 0;
    width: 100%;
    z-index: 10000;
    transition: all 0.4s;
    position: relative;
}

.header-logo {
    display: flex;
    align-items: center;
    max-width: 45%;
}

#header .header-logo h1 {
    margin: 0px;
}

#header .header-container .header-container-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: 100%;
    height: auto;
    display: block
}

#header .header-right {
    display: flex;
    align-items: center;
}

#header .header-menu > ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    margin-right: 3px;
}

    #header .header-menu > ul > li {
        list-style-type: none;
        padding-right: 24px;
    }

        #header .header-menu > ul > li > a, #header .header-menu > ul > li > span.nolink {
            color: white;
        }

    #header .header-menu > ul li.expanded > ul {
        position: absolute;
        top: 62px;
        background: #ffffff;
        margin: 0;
        padding: 0;
        width: max-content;
        box-shadow: 0px 0px 3px #ededed;
        width: 200px;
        opacity: 0;
        visibility: hidden;
    }

#header .language, #header-booking .language {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    margin-left: 50px;
}

#header .header-login > a.user-avatar {
    background: none;
}

.header-login a.user-avatar img {
    display: block;
    margin-left: 20px;
    width: 32px;
    height: 32px;
    border-radius: 60%;
}

.header-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-icon{
    display: flex;
}

a:hover, a {
    text-decoration: none;
    color: #20BE07;
}


#header .language, #header-booking .language {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    margin-left: 50px;
}

#header {
    height: 62.4px;
}

    #header .header-container {
        background: black;
        z-index: 999999;
    }
.home-form-and-event {
     margin-bottom: 20px; 
     margin-top: 20px; 
}

/*banner*/

.home-banner{
    margin-top: 400px;
}

.slidershow {
    width: 1000px;
    height: 400px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -73%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 10px;
    background-color: #559392;
    height: 10px;
    border: 2px solid #559392;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}

    .bar:hover {
        background: #fff;
    }

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

    .slide img {
        width: 100%;
        height: 100%;
    }

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}

/*tin tuc*/
.home-title {
    position: relative;
    margin-bottom: 20px;
}
.home-title.color-20BE07 h3 {
    background: #20BE07;
}
.home-title h3 {
    width: 125px;
    height: 51px;
    margin: 0px;
    border-radius: 7px 7px 0px 0px;
    color: white;
    font-family: "UTM_AVO";
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
a:hover, a {
    text-decoration: none;
    color: unset;
}
.home-title.color-20BE07:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    background: #20BE07;
}

.article-image{
    display: flex;
}

/*badminton yard*/

/*  -------- Search form  --------   */
.container-inline-date .form-item input, .container-inline-date .form-item select, .container-inline-date .form-item option {
    margin-right: 5px;
}
.home-node-event a {
    width: 350px;
    height: 50px;

    margin-left: 30px;
    margin-bottom: 12px;

    border-radius: 4px;
    background: #20BE07;
    color: white;

    font-family: "UTM_AVO";
    font-weight: bold;
    font-size: 16px;

    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}
.form-search-fixed .wrap-time {
    background: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid thin #20BE07;
    justify-content: space-between;
}

    .form-search-fixed .wrap-time .slider-range {
        width: 70%;
        margin-left: 47px;
        position: relative;
        height: 8px;
    }

        .form-search-fixed .wrap-time .slider-range .ui-slider-range {
            background: #5c5c5c;
        }

        .form-search-fixed .wrap-time .slider-range .ui-slider-handle {
            border-radius: 100%;
            color: green;
            left: 27.2727%;
            background: rgb(128, 195, 41);
            cursor: pointer;
        }

.form-search-fixed .slider-range-start-hour {
    position: absolute;
    /* top: 30px; */
    left: 35px;
    font-size: 13px;
    bottom: 0px;
}

.form-search-fixed .slider-range-finish-hour {
    position: absolute;
    top: 31px;
    right: 5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    outline: none;
}

form.form-search-fixed {
    display: flex;
    justify-content: space-between;
    /*width: 56%;*/
}

.top-block form.form-search-fixed {
    width: 57%;
}



#header-booking form.form-search-fixed {
    position: relative;
}

#header-booking .form-group {
    margin: 0px;
}

#header-booking form.form-search-fixed .wrap-search {
    width: 100%;
}

#header-booking form.form-search-fixed input {
    height: 42px;
}

#header-booking .form-search-golf-tour .form-search-fixed button.btn-search-item {
    position: absolute !important;
    right: 3px;
    background: #ffffff !important;
    width: 40px !important;
    height: 40px !important;
    top: 50%;
    margin-top: -20px;
}

    #header-booking .form-search-golf-tour .form-search-fixed button.btn-search-item > i {
        color: #20BE07 !important;
        left: 10px !important;
        top: 11px !important;
    }

    #header-booking .form-search-golf-tour .form-search-fixed button.btn-search-item > span {
        display: none;
    }

form.form-search-fixed .wrap-search {
    width: 50%;
    position: relative;
    margin-bottom: 0px;
}

form.form-search-fixed input {
    width: 60%;
    height: 46px;
    padding: 0px 35px;
    border: 1px solid #20BE07;
    padding-left: 40px;
}

form.form-search-fixed i {
    position: absolute;
    left: 26px;
    top: 19px;
    color: #20BE07;
}

    form.form-search-fixed i.fa-map-marker {
        background-image: url("D:/Dowloads/FE_DACN-Copy/FE_DACN - Copy/assets/img/44.png");
        width: 22px;
        height: 22px;
        position: absolute;
        left: 10px;
        top: 12px;
        font-size: 0px;
    }


form.form-search-fixed input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "UTM_AVO";
    color: #000;
}


        form.form-search-fixed .wrap-time select option.wrap-time-title {
            color: black;
            font-weight: 600;
            width: 100%;
        }

form.form-search-fixed button {
    background: #20BE07;
    position: relative;
    height: 46px;
    width: 6%;
}

    form.form-search-fixed button > i {
        position: absolute;
        color: #fff;
        font-size: 19px;
        left: 23px;
        top: 15px;
    }

form.form-search-fixed > div {
    width: 100%;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-end;
}

.form-search-fixed .form-item-fixed-form-search-key {
    position: relative;
    display: flex;
}

    .form-search-fixed .form-item-fixed-form-search-key .input-group-addon {
        display: none;
    }

    .form-search-fixed .form-item-fixed-form-search-key label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

form.form-search-fixed button[type=submit] {
    border: none;
    margin-bottom: 9px;
    margin-left: -220px;
    color: white;
    height: 35px;
    width: 8%
}

    form.form-search-fixed button[type=submit]:hover {
        background: #08b908;
        transition: all 0.5s linear;
    }

.main-slider-form {
    position: absolute;
    left: 0px;
    bottom: 60px;
    width: 100%;
    z-index: 1000;
}



/*footer*/
.footer .footer-top {
    color: white;
}

.footer-top {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #ccc;
    background-color: black;
}
#footer {
    background: black;
    /* padding: 71px 0pc 48px 0px; */
}
.footer-top-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-top-link ul li a {
    color: #fff;
    font-family: "UTM_AVO";
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px 19px;
    position: relative;
}
.footer-top-items {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: auto;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black
}
.footer-bottom-address span {
    font-size: 14px;
    color: white;
}
.footer-bottom-container-inner {
    display: flex;
    justify-content: space-between;
}
.fa-youtube:before {
    content: "\f167";
}
.footer-top-content i {
    color: white;
    font-size: 22px;
    margin-right: 5px;
}
#footer .footer-top .block-1 .item {
    text-align: center;
}
#footer .footer-top .block-1 .social-group {
    text-align: center;
    margin-top: 20px;
}